@import '../sign-up/sign-up.component.scss';

.back-sign-in { 
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  a {
    &,
    &:hover,
    &:active,
    &:visited {
      color: $primary;
      text-decoration: none;
    }
  }

}
