@import '~sass/variables';
@import '~sass/header-partial';

.request-body {
  height: 100vh;
  margin: 0;
  padding: 0;

  .request-content {
    padding: 0 0 4.3rem 0;
    margin-top: 4rem;

    .request {
        width: 100vw;
        height: 10vw;
    }
  }
}