@import '~sass/variables';

nav {
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid $primary;
  border-radius: 0;
  margin: 0;
  min-height: 5rem;
  padding: 0;
  z-index: 1;

  a.navbar-brand {
    color: $primary;
    margin-right: auto;

    &:hover {
      color: #aaa;
    }
  }

  button.navbar-toggle {
    border: none;
    margin: 0 0.8rem 0 0;
    padding: 0.6rem 0.7rem;

    &:hover {
      background-color: #efefef;
    }

    span {
      // Hamburger button colour
      background-color: $primary;
    }
  }

  div.navbar-collapse.collapsing {
    // Hides unwanted links during transition.
    display: none;
  }

  div.navbar-collapse.collapse {
    padding: 0;

    ul {
      float: right;
      padding: 0;
    }

    &.in.show {
      border-top: 0.1rem solid $primary;
      text-align: center;

      & > ul {
        float: none;
        margin: 0;

        li {
          border-bottom: 0.1rem solid $primary;

          &:last-of-type {
            border: none;
          }

          & a {
            background-color: #ddd;
            color: #555;

            &:hover {
              background-color: #aaa;
              color: $primary;
            }
          }

          &.link-active a {
            background-color: #4aabff;
            color: #fff;

            &:hover,
            &:focus {
              background-color: #4189c7;
              color: #fff;
            }
          }
        }
      }
    }
  }

  @media (min-width: $md) {
    div.navbar-collapse.collapse {
      ul {
        li {
          & a {
            color: $primary;
          }

          &.link-active a {
            background-color: #4aabff;
            color: #fff;

            &:hover,
            &:focus {
              background-color: #4189c7;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
