nav {
  border-radius: 0;
}

a.navbar-brand {
  color: #eee;
}

button.navbar-toggle {
  border: none;
  color: #eee;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  /* background-color: #4189c7; */
  color: #eee;
}
