@import '~sass/variables';

nav {
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid $primary;
  border-radius: 0;
  // height: 10rem;
  margin: 0;
  min-height: 5rem;
  padding: 0;
  z-index: 1;

  a.navbar-brand {
    color: $primary;

    &:hover {
      color: #aaa;
    }
  }

  button.navbar-toggle {
    border: none;
    padding: 0.6rem 0.7rem;
    margin: 1.2rem 0.8rem 0 0;

    &:hover {
      background-color: #efefef;
    }

    span {
      // Hamburger button colour
      background-color: $primary;
    }
  }

  div.navbar-collapse.collapse {
    padding: 0;

    ul {
      float: right;
      padding: 0;
    }

    &.in {
      border-top: 0.1rem solid $primary;
      margin-top: 5rem; // It's magic, don't touch.
      text-align: center;

      & > ul {
        float: none;
        margin: 0;
      }

      li {
        border-bottom: 0.1rem solid $primary;

        &:last-of-type {
          border: none;
        }

        & a {
          background-color: #ddd;
          color: #555;

          &:hover {
            background-color: #aaa;
            color: $primary;
          }
        }

        &.link-active a {
          background-color: #4aabff;
          color: #fff;

          &:hover, &:focus {
            background-color: #4189c7;
            color: #fff;
          }
        }
      }
    }
  }

  @media (min-width: $md) {
    li {
      & a {
        color: $primary;
      }

      &.link-active a {
        background-color: #4aabff;
        color: #fff;

        &:hover, &:focus {
          background-color: #4189c7;
          color: #fff;
        }
      }
    }
  }
}