<div class="body container-fluid">
  <div class="row">
    <div class="side-panel col-12 col-md-5 order-last">
      <div class="welcome">
        <h1>Welcome to the</h1>
        <h1>Social Media Portal!</h1>
        <h3>Stay in touch with your friends</h3>
      </div>
    </div>
    <div class="form col-12 col-md-7 order-md-last">
      <img src="assets/img/smp-logo-drop-shadow.svg">
      <h1>Sign in to your account</h1>
      <form name="form" (ngSubmit)="f.form.valid && signIn()" #f="ngForm" novalidate>
        <div *ngIf="signUpSuccessful" class="alert alert-success">
          <p><strong>Sign up successful!</strong> Sign in below.</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="signInRequest.email"
            #email="ngModel" required tabindex="1" />
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>

        <div class="forgotten-password"><a [routerLink]="['/forgot-password']">Forgotten password?</a></div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="signInRequest.password"
            #password="ngModel" required tabindex="2" />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <div *ngIf="signInUnsuccessful" class="alert alert-danger">
          <p><strong>{{ errorMessage }}</strong></p>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn">Sign in</button>
          <div class="question">
            <a [routerLink]="['/sign-up']">Don't have an account? Sign up here!</a>
          </div>
          <img *ngIf="loading" src="../../assets/img/spinner.svg" />
        </div>
      </form>
    </div>
  </div>
</div>
