@import '../sign-up/sign-up.component.scss';

.form {
  .forgotten-password a {
    float: right;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    &,
    &:hover,
    &:active,
    &:visited {
      color: $primary;
      text-decoration: none;
    }
  }
}

@media (min-width: $lg) {
  .form {
    .forgotten-password a {
      font-size: 1.2rem;
    }
  }
}