@import '~sass/variables';

.signup-body {
  .signup-form {
    margin-top: 5rem;

    h1 {
      text-align: center;
    }

    label {
      display: none;
    }

    input {
      border-radius: 4px;
    }

    button {
      background-color: rgba(36, 196, 36, 0.2);
      border: none;
      border-radius: 4px;
      color: $primary;
      display: block;
      margin: 0 auto;
      padding: 1rem 1.5rem;

      &:hover {
        background-color: rgba(36, 196, 36, 0.3);
      }
    }

    .already-member {
      display: block;
      margin-top: 5rem;
      text-align: center;
    }
  }

  @media (min-width: $sm) {
    .signup-form {
      width: 70%;
      margin: 5rem auto 0 auto;
    }
  }

  @media (min-width: $md) {
    .signup-form {
      h1 {
        text-align: left;
        margin-bottom: 2rem;
      }

      label {
        display: inline-block;
      }

      input {
        &::-webkit-input-placeholder {
          color: transparent;
        }
        &:-moz-placeholder {
          color: transparent;
        }
        &::-moz-placeholder {
          color: transparent;
        }
        &:-ms-input-placeholder {
          color: transparent;
        }
      }

      div.form-group:last-of-type {
        margin-top: 3rem;

        button {
          display: inline-block;
          margin: initial;
        }

        .already-member {
          display: initial;
          margin-top: 0;
          margin-left: 2rem;
          text-align: left;
        }
      }
    }
  }

  @media (mid-width: $lg) {
    /* TODO: Background picture. */

    .signup-form {
      width: initial;
      margin: initial;
    }
  }
}
