<header>
  <div class="header-content">
    <h4>Feed</h4>
    <img src="../../assets/img/smp-logo.svg">
  </div>
</header>

<div class="home-body container-fluid">
  <div class="home-content">
    <img src="../../assets/img/smp-logo.svg" style="margin: 0 auto;">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
  </div>
</div>
