<div class="home-body container-fluid">
  <header>
    <div class="header-content">
      <h4>logo</h4>
      <!-- <h4>{{ currentUser.fullName }}</h4> -->
    </div>
  </header>

  <div class="home-content">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, temporibus nulla, cupiditate reprehenderit blanditiis reiciendis ut exercitationem nostrum rem eveniet odit cum accusantium nihil officiis sequi dolorum quas, sed enim?</p>
  </div>

  <footer>
    <nav>
      <span>Home</span>
      <span>Search</span>
      <span>Add post</span>
      <span>Chat</span>
      <span>Settings</span>
    </nav>
  </footer>
</div>
