@import '~sass/variables';
@import '~sass/header';
@import '~sass/button';



.form {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  display: grid;

  form {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: span 10;

    .form-group {
      mat-form-field {
         width: 100%;
      }
    }
  }
}