<div class="form">
    <form (ngSubmit)="f.form.valid && sendMessage()" #f="ngForm" novalidate>
        <div class="form-group" style="grid-row: span 1">
            <mat-form-field>
                <input type="text" class="form-control" placeholder="To:" name="receiverId" (input)="filterFriends($event.target.value)"
                [(ngModel)]="createConversationRequest.receiverId" #receiverId="ngModel" required matInput [matAutocomplete]="auto">
            </mat-form-field>
        </div>

        <mat-autocomplete *ngIf="friends" [hidden]="true" #auto="matAutocomplete" [displayWith]="displayFriend.bind(this)">
            <mat-option *ngFor="let friend of filteredFriends" [value]="friend.id">
                {{ friend.fullName }}
            </mat-option>
        </mat-autocomplete>

        <div class="form-group" style="grid-row: span 10">
            <mat-form-field>
                <textarea class="form-control" placeholder="Message" name="content"
                [(ngModel)]="createConversationRequest.content" #content="ngModel" required matInput>
                </textarea>
            </mat-form-field>
        </div>

        <div class="form-group" style="grid-row: span 1">
            <button [disabled]="loading" class="button-primary">Send <img height="20px" width="20px" *ngIf="loading" src="../../assets/img/spinner.svg" /></button>
        </div>
    </form>
</div>
