@import '~sass/variables';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: white;
  border-bottom: 0.1px solid $grey;
  min-height: 4rem;
  padding: 0 1rem;

  .header-content {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
  }
}
