@import '~sass/variables';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $blue;
  min-height: 4rem;

  .header-content {
    display: flex;
    justify-content: end;
    color: white;

    img { // It's temporary.
      height: 3.5rem;
      padding: 0.5rem 1rem 0 0;
      width: 3.5rem;
    }
  }
}
