<header>
  <div class="header-content">
    <h4>Messages</h4>
    <img src="../../assets/img/smp-logo.svg">
  </div>
</header>

<div class="messages-body container-fluid">
  <div class="messages-content">
    <div class="conversations">
      <div class="conversation-list">
        <div *ngFor="let conversation of conversations" (click)="loadConversation(conversation.id)" class="conversation-preview" style="border: groove;">
          <div *ngIf="conversation.lastMessage">
            <img class="profile-picture" *ngIf="conversation.lastMessage.sender" [src]="getConversationPicture(conversation.id)" />
            {{ getConversationName(conversation.id) }}
            <p>{{ getLastMessageSender(conversation.id) }}: '{{ conversation.lastMessage.content }}' at {{ conversation.lastMessage.createdAtFriendly }}</p>
          </div>
        </div>
      </div>
      <div class="conversation-start-new">
        <button (click)="showStartConversation()" class="button-primary">Start a new conversation</button> 
      </div>
    </div>
    <div [hidden]="startNewConversation" class="conversation-window">
      <app-conversation></app-conversation>
    </div>
    <div *ngIf="startNewConversation" class="message-composer">
      <app-message-composer (conversationReady)="loadConversation($event)"></app-message-composer>
    </div>
  </div>
</div>