@import '~sass/variables';
@import '~sass/header-partial';

.messages-body {
  height: 100vh;
  margin: 0;
  padding: 0;

  .messages-content {
    padding: 4rem 0 4.3rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .conversation-list {
      grid-column: span 3;

      .conversation-preview {
        .profile-picture {
          display: inline-block;
          width: 50px;
          height: 50px;
        }
      }
    }

    .conversation-window {
      grid-column: span 9;
    }
  }
}