<header>
  <div class="header-content">
    <h4>Messages</h4>
    <img src="../../assets/img/smp-logo.svg">
  </div>
</header>

<div class="messages-body container-fluid">
  <div class="messages-content">
    <div class="conversation-list" style="border: groove;">
      <div *ngFor="let conversation of conversations" class="conversation-preview" style="border: groove;">
        <div *ngIf="conversation.lastMessage">
          {{ conversation.lastMessage.sender.fullName }} sent '{{ conversation.lastMessage.content }}' at {{ conversation.lastMessage.createdAtFriendly }}
        </div>
      </div>
    </div>
    <div class="conversation-window" style="border: groove;">
      CONVERSATION WINDOW
    </div>
  </div>
</div>