<header>
    <div class="header-content">
        <h4>Profile</h4>
    <img src="../../assets/img/smp-logo.svg">
    </div>
</header>
    
<div class="profile-body container-fluid">
    <div class="profile-content">
        <div id="col-left" class="col-xs-3" style="border:groove;">
            COL LEFT
        </div>

        <div id="col-center" class="col-xs-6" style="border: groove;">
            <div class="profile-picture">
                <img [src]="user.profilePictureUrl" />
            </div>
            <h2 style="text-align: center;">{{ user.fullName }}</h2>

            <app-create-post [postToId]="userId" (postCreated)="updatePosts($event)"></app-create-post>
            <app-feed [receiverId]="userId"></app-feed>
        </div>

        <div id="col-right" class="col-xs-3" style="border:groove">
            COL RIGHT
        </div>
    </div>
</div>
